      div.tooltip {   
        position: relative;           
        text-align: center;           
        width: 60px;                  
        height: 28px;                 
        padding: 2px;             
        font: 12px sans-serif;        
        background: none;   
        border: 1px;      
        border-radius: 8px;           
        pointer-events: none;         
      }
      path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
      }
      .native {
        stroke: blue;
        stroke-width: 3;
      }
      .user{
        stroke: red;
        stroke-width: 2;
        fill: none;
      }
      .axis {
        shape-rendering: crispEdges;
      }
 
      .x.axis line {
        stroke: lightgrey;
      }
 
      .x.axis .minor {
        stroke-opacity: .5;
      }
 
      .x.axis path {
        display: none;
      }
      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }