/* -------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------- */
/* REUSABLE COMPONETS */
/* -------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*--------------HEADINGS-------------*/
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/*--------------PARAGRAPHS-------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*--------------ICONS-------------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: black;
    margin-bottom: 10px;
}

/* -------------------------------------------- */
/* Header */
/* -------------------------------------------- */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}


.main-title {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title img {
    width: 70px;
    height: 45px;
    margin-bottom: 10px;
}

.main-title h1{
    font-size: 130%;
    font-family: 'Montserrat';
    text-transform: uppercase;
}


.main-title h1:after {
    display: block;
    height: 1px;
    background-color: white;
    content: " ";
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
}

.hero-text-box {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h2 {
    font-size: 250%;
    color: white;
    font-family: 'Crimson Text';
    font-weight: normal;
    text-transform: uppercase;
}


.hero-text-box p {
    font-size: 150%;
    color: white;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: normal;
}

.download-logo img{
    margin-top: 70px;
    height: 55px;
    width: 160px;
}


/*down arrow*/
.down-arrow{
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.down {
    color: white;
}

.btn-download {
    margin-top: 25px;
}



/* -------------------------------------------- */
/* Features */
/* -------------------------------------------- */


.section-features h2 {
    font-size: 230%;
    font-family: 'Cardo';
    margin-bottom: 40px;
}
.section-features h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}
.section-features h3 {
    font-family: 'Cardo';
}

.section-features p {
    font-family: 'Crimson Text';
}

.section-features .long-copy {
    margin-bottom: 30px;
    font-size: 170%;
    text-align: center;
    font-family: 'Cardo';
    font-style: italic;
}

.section-features .box {
    font-size: 140%;
}


/* -------------------------------------------- */
/* Steps */
/* -------------------------------------------- */
.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.section-steps h2 {
    font-size: 230%;
    font-family: 'Cardo';
    margin-bottom: 40px;
}

.section-steps h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}
.section-steps h3 {
    font-family: 'Cardo';
    font-size: 140%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-steps p {
    font-family: 'Crimson Text';
    font-size: 125%;
    text-align: center;
}

.section-steps .long-copy {
    margin-bottom: 30px;
    font-size: 170%;
    text-align: center;
    font-family: 'Cardo';
    font-style: italic;
}

.data-scraping {
    margin-bottom: 50px;
}



.averaging {
    margin-bottom: 50px;
}


.icons {
    margin-top: 30px;
}

.middle {
    margin-top: 30px;
}


/* -------------------------------------------- */
/* Tech Stack */
/* -------------------------------------------- */

.section-stack h2 {
    font-size: 230%;
    font-family: 'Cardo';
    margin-bottom: 40px;
}

.section-stack h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}
.section-stack h3 {
    font-family: 'Cardo';
    font-size: 140%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 25px;
}

.tech-stack-img img {
    display:block;
    margin:auto;
}
.tech-stack-img {
    width: 300px;
    text-align: center;
}


/* -------------------------------------------- */
/* Video */
/* -------------------------------------------- */

.section-video {
    background-color: #f4f4f4;
}

.section-video h2 {
    font-size: 230%;
    font-family: 'Cardo';
    margin-bottom: 40px;
    color: black;
}

.section-video h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

.video-center {
    width: 840px;
    height: 500px;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}




/* -------------------------------------------- */
/* Submit */
/* -------------------------------------------- */

.section-form {
    height: 600px;
    text-align: center;
    color: white;
}

.section-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/work.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    
}

.section-form h2 {
    font-size: 230%;
    font-family: 'Cardo';
}

.section-form h2:after {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

.section-form p {
    font-size: 130%;
    font-family: 'Crimson Text';
    margin-bottom: 50px;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    background: 0%, 0%;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
    border: 1px solid white;
    color: white;
    margin-right: 15px;
}

input[type=submit]:hover,
input[type=submit]:active {
    color: black;
    border: 1px solid black;
    background-color: #fff;
}

.submitBtn {
    margin-top: 50px;
}


input[type=email] {
    width: 250px;
    background: 0%, 0%;
    border: none;
    border-bottom: 1px solid white;
}


.section-form .text {
    color: white;
}

/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
    background-color: black;
    height: 120px;

}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right; 
}

.footer-links {
    padding-top: 15px;
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links:last-child {
    margin: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e0dfdf;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}




