
@mixin transition($time){
	transition: all $time ease;
}

@mixin circle-border($size, $color){
	$border-width: $size / 20;

	border-radius: 100%;
	width: $size;
	height: $size;
	border: $border-width solid $color;
}

@mixin glow($rgba){
	@include transition(0.5s);
	box-shadow: 0 0 10px $rgba;
}