/* -------------------------TYPOGRAPHY--------------------------------*/

$base-font-size: 16px;
$base-line-height: 1.375em;

$font-family: 'Lato', 'Arial', sans-serif;

/* -------------------------COLORS-----------------------------*/

// Colors
$primary-color: #38C373;
$primary-color-hover:#AAF6CB;
$primary-rgba: rgba(46, 204, 113, 1);

$secondary-color: #DA3F40;
$secondary-color-hover:#FE6C64;
$secondary-rgba: rgba(244, 70, 71, 1);


// Background
$background-light: #3B3B3B;
$background-mid: #202020;
$background-dark: #1B1B1B;

// Buttons
$primary-button: #CCCCCC;

// Text
$primary-text: #CCCCCC;

/* -------------------------SIZE--------------------------------*/

$base-unit: 20px;

// Row Width
$max-row-width: 960px;

// Margins
$default-margin: $base-unit;

// Padding
$default-padding: $base-unit / 2;




