/* -------------------------USER AUDIO-----------------------------*/

$container-height: 16 * $base-unit;
$mic-height: 6 * $base-unit;
$spinner-height: 4 * $base-unit;

.mic-controls-container{
	height: $container-height;
	margin: $default-margin;
}

.microphone {
	@include circle-border($mic-height, $secondary-color);
	@include transition(0.5s);

	margin-top: ($container-height / 2) - ($mic-height / 2);

  position: relative;
  font-size: $base-font-size * 4;
  color: $secondary-color;
}

.microphone:hover{
  @include circle-border($mic-height, $secondary-color-hover);
	color: $secondary-color-hover;
}

.live-mic {
  color: $primary-color !important;
  border: 6px solid $primary-color !important;
}

.spinner img{
  @include transition(0.5s);
	margin-top: ($container-height / 2) - ($spinner-height / 2);
  height: $spinner-height;  
}
