/* --------------------------SCORE------------------------------*/

.score-container{
    height: $base-unit * 5;
}

#scoreDisplay {
    color: #E12839;
    text-align: center;
    font-size: 3em;
}

.tooltip {
  font-weight: bold;
  color: $graph-tooltip-text;
  // font-size: 1.8em;
}

#graph {
    // background-color: lighten($background-light, 50%);
    height: 100%;
    width: 800px;
    margin: 0 auto;

    div.tooltip {   
      position: relative;           
      text-align: center;           
      width: 60px;                  
      height: 28px;                 
      padding: 2px;             
      font: 12px sans-serif;        
      background: none;   
      border: 1px;      
      border-radius: 8px;           
      pointer-events: none;         
    }

    path {
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
    }
    .native {
      top: 250px;
      stroke: $graph-native;
      stroke-width: 3;
      fill: none;
    }
    .user {
      stroke: $graph-user;
      stroke-width: 2;
      fill: none;
    }
    .axis {
      shape-rendering: crispEdges;
      text {
        display: none;
      }
    }

    .x.axis line {
      stroke: $graph-axis;
    }

    .x.axis .minor {
      stroke-opacity: .5;
    }

    .x.axis path {
      display: none;
    }

    .y.axis line, .y.axis path {
      fill: none;
      stroke: $graph-axis;
    }
}